 # Part-of-speech (POS)

In [19]:
import spacy
import pandas as pd

In [20]:
nlp = spacy.load("en_core_web_sm")
# if you are running this for the first time, or recieve an error "Can't find model 'en_core_web_sm'",
# then please run the follwing in your terminal: python -m spacy download en_core_web_sm

In [21]:
emma_ja = """emma woodhouse handsome clever and rich with a comfortable home and happy disposition
 seemed to unite some of the best blessings of existence and had lived nearly twentyone years in
  the world with very little to distress or vex her she was the youngest of the two daughters of 
  a most affectionate indulgent father and had in consequence of her sisters marriage been mistress
   of his house from a very early period her mother had died too long ago for her to have more than 
   an indistinct remembrance of her caresses and her place had been supplied by an excellent woman 
   as governess who had fallen little short of a mother in affection sixteen years had miss taylor 
   been in mr woodhouses family less as a governess than a friend very fond of both daughters but 
   particularly of emma between them it was more the intimacy of sisters even before miss taylor 
   had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed 
   her to impose any restraint and the shadow of authority being now long passed away they had been 
   living together as friend and friend very mutually attached and emma doing just what she liked 
   highly esteeming miss taylors judgment but directed chiefly by her own"""

In [22]:
spacy_doc=nlp(emma_ja)
spacy_doc

emma woodhouse handsome clever and rich with a comfortable home and happy disposition
 seemed to unite some of the best blessings of existence and had lived nearly twentyone years in
  the world with very little to distress or vex her she was the youngest of the two daughters of
  a most affectionate indulgent father and had in consequence of her sisters marriage been mistress
   of his house from a very early period her mother had died too long ago for her to have more than
   an indistinct remembrance of her caresses and her place had been supplied by an excellent woman
   as governess who had fallen little short of a mother in affection sixteen years had miss taylor
   been in mr woodhouses family less as a governess than a friend very fond of both daughters but
   particularly of emma between them it was more the intimacy of sisters even before miss taylor
   had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed
   her to impose any restraint and the shadow of authority being now long passed away they had been
   living together as friend and friend very mutually attached and emma doing just what she liked
   highly esteeming miss taylors judgment but directed chiefly by her own

In [25]:
pos_df=pd.DataFrame({"token":[],"pos_tag":[]})

for token in spacy_doc:
    new_row=pd.DataFrame({"token":[token.text],"pos_tag":[token.pos_]})
    pos_df=pd.concat([pos_df,new_row],ignore_index=True,)
pos_df.head(15)

          token pos_tag
0          emma   PROPN
1     woodhouse   PROPN
2      handsome     ADJ
3        clever     ADJ
4           and   CCONJ
5          rich     ADJ
6          with     ADP
7             a     DET
8   comfortable     ADJ
9          home    NOUN
10          and   CCONJ
11        happy     ADJ
12  disposition    NOUN
13          \n    SPACE
14       seemed    VERB

In [26]:
pos_df_counts=(pos_df.groupby(['token','pos_tag']).size().reset_index().rename(columns={0:'counts'}).sort_values(by='counts',ascending=False))
pos_df_counts.head(10)

     token pos_tag  counts
91      of     ADP      14
57     her    PRON       9
2    \n      SPACE       9
52     had     AUX       9
9      and   CCONJ       8
114    the     DET       8
3        a     DET       6
117     to    PART       5
123   very     ADV       4
64      in     ADP       4

In [27]:
# see most common nouns
nouns = pos_df_counts[pos_df_counts.pos_tag == "NOUN"][0:10]
nouns

         token pos_tag  counts
51   governess    NOUN       3
49      friend    NOUN       3
133      years    NOUN       2
31   daughters    NOUN       2
38        emma    NOUN       2
85      mother    NOUN       2
106    sisters    NOUN       2
4    affection    NOUN       1
14   authority    NOUN       1
35    distress    NOUN       1

In [28]:
# see most common verbs
verbs = pos_df_counts[pos_df_counts.pos_tag == "ADJ"][0:10]
verbs

           token pos_tag  counts
73        little     ADJ       2
5   affectionate     ADJ       1
37         early     ADJ       1
47          fond     ADJ       1
42     excellent     ADJ       1
54         happy     ADJ       1
19          best     ADJ       1
28        clever     ADJ       1
29   comfortable     ADJ       1
66     indulgent     ADJ       1